body{
  /* font-family: serif; */
  /* font-family: sans-serif; */
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ",sans-serif;
}
p{
  font-size: 24px;
  /* font-weight: normal; */
  font-weight: bold;
  line-height: 3.0;
}
h1{
  /* text-align: left; */
  /* text-align: center; */
  text-align: right;
  /* text-decoration: none; */
  /* text-decoration: underline; */
  /* text-decoration: overline; */
  text-decoration: line-through;
}
